[Unit]
Description=File server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
StartLimitBurst=2
StartLimitIntervalSec=30
ExecStart=/outlogix_file_server/run.sh

[Install]
WantedBy=multi-user.target
